body {
  margin: 0;
  font-family: 'Lato', serif, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  height: 100%;
  width: 100%;
  padding: 0;
}

:root {
  --theme-black: #000;
  --theme-white: #fff;
  --theme-grey: #292828;
}
